/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors to be used throughout the different website elements */

:root {
    --bg-color: #1A373B;
    --text-color: #C8DD36;
    --bg-main: #0B3B3B;
    --bg-images: #125E5C;
    --bg-buttons: #F3B210;
    --blue-outlines: #00313A;
    --orange-buttons: #F27E08;
    --blue-text: #0D2935;
}

/* Styling the body and the container wrapping all the elements */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    margin: 1rem;
    max-width: 1500px;
    width: fit-content;
    margin-left: 150px;
    margin-right: 150px;

}

.container {
    color: var(--text-color);
    border: 10px var(--bg-buttons) solid;
    border-radius: 30px;
}

/*  */

main {
    display: grid;
    grid-template-columns: 50% auto;
    /* gap: 30px; */
    background-color: var(--bg-main);
    border: 10px var(--bg-color) solid;
    border-radius: 5px;
    border: 10px var(--blue-outlines) solid;
    border-radius: 30px;
}

header{
    text-align: center;
    margin: -40px;
    height: 200px;
}

header img {
    width: 130px;
    margin-top: 35px;
}

.guessWhatText {
    width: 90%;
    margin: 20px 100px 50px 100px;
    text-align: justify;
}

.leftBlock {
    text-align: center;
}

h1 {
    font-weight: bolder;
    font-size: 5rem;
    font-family: 'Mentimun';
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    
}
 

img {
    width: 150px;
}


p {
    margin: 1rem;
}

.game-modes {
    margin: -110px 0;
    display: flex;
    justify-content: center;
}

#random-game, #theme-game {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px; 
}

#random-game img, #theme-game img {
    background-color: var(--bg-images);
    border: 10px var(--blue-outlines) solid;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 1rem;
    width: 300px;
}

#random-game button, #theme-game button {
    width: 300px;
    padding: 0.1rem 0;
    background-color: var(--orange-buttons);
    color: var(--blue-text);
    font-weight: bolder;
    border: 10px var(--blue-outlines)solid;
    border-radius: 15px;
    font-family: 'Mentimun';
    font-size: 125%;
}
/*Contact page*/
.logoTitle {
    text-align: center;
    border:1px black solid;
}

.logoImages {
text-align: center;
border:1px black solid;

}

/*About page*/

.aboutTitle {
    text-align: center;
    border:1px black solid;
    }

.aboutText {
text-align: center;
border:1px black solid;
}

/* Styling the aside section containing the buttons for the homepage, log in, etc. */


aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside div {
    display: flex;
    margin: 30px;
}

span {
    background-color: var(--orange-buttons);
    border-radius: 2px;;
}

aside a {
    text-decoration: none;
    color: var(--text-color);
    margin-top: 17px;
}

/* Styling the homepage button */
.homeButton {
    width: 300px;
    
    
}

/* Styling the remaining navigation buttons */

aside button {
    display: block;
    width: 250px;
    padding: 1rem;
    background-color: var(--bg-buttons);
    color: var(--blue-text);
    font-weight: bolder;
    border: 10px var(--orange-buttons)solid;
    border-radius: 15px;
    margin: 2rem 35px;
    font-family: 'Mentimun';
    font-size: 150%;

}

aside a.contact{
    display: block;
    width: 50%;
    text-align: center;
    margin-top: 1rem;
    font-size: large;
}

/* Styling the footer */

footer {
    position: relative;
    text-align: center;
    margin-left: 90px;
}

/* SUBSCRIPTION */

#subscriptionFormTitle {
    text-align: center;
}

.subscriptionForm {
    width: 100%;
    text-align: center;
    padding: 1rem;
    display: block 
    
}

.subscriptionForm label {
    font-weight: bold;
    padding: 2rem;
}

.subscriptionForm input {
    border: var(--orange-buttons);
    border-radius: 10px;
    width: 50%;
    padding: 12px 20px;
    margin-top: 5%;
}


.subscriptionForm button {
    width: 250px;
    padding: 1rem;
    background-color: var(--orange-buttons);
    color: var(--blue-text);
    font-weight: bolder;
    border: 10px var(--blue-outlines)solid;
    border-radius: 15px;
    font-family: 'Mentimun';
    font-size: 125%;
    margin-top: 40px;
    height: 50%px;

}

/* LOGIN */

#loginFormTitle {
    text-align: center;
}

.loginForm {
    width: 100%;
    text-align: center;
    padding: 1rem;
    display: block 
    
}

.loginForm label {
    font-weight: bold;
    padding: 2rem;
}

.loginForm input {
    border: var(--orange-buttons);
    border-radius: 10px;
    width: 50%;
    padding: 12px 20px;
    margin-top: 5%;
}


.loginForm button {
    width: 250px;
    padding: 1rem;
    background-color: var(--orange-buttons);
    color: var(--blue-text);
    font-weight: bolder;
    border: 10px var(--blue-outlines)solid;
    border-radius: 15px;
    font-family: 'Mentimun';
    font-size: 125%;
    margin-top: 40px;
    height: 50%px;

}

/* ADD RIDDLE */

#addRiddleFormTitle {
    text-align: center;
}

.addRiddleForm {

    width: 100%;
    text-align: center;
    padding: 1rem;
    display: block 
    
}

.addRiddleForm label {
    font-weight: bold;
    padding: 2rem;
}

.addRiddleForm input {
    border: var(--orange-buttons);
    border-radius: 10px;
    width: 50%;
    padding: 12px 20px;
    margin-top: 5%;
}


.addRiddleForm button {
    width: 250px;
    padding: 1rem;
    background-color: var(--orange-buttons);
    color: var(--blue-text);
    font-weight: bolder;
    border: 10px var(--blue-outlines)solid;
    border-radius: 15px;
    font-family: 'Mentimun';
    font-size: 125%;
    margin-top: 40px;
    height: 50%px;

}