/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors to be used throughout the different website elements */

:root {
    --bg-color: #1A373B;
    --text-color: #C8DD36;
    --bg-main: #0B3B3B;
    --bg-images: #125E5C;
    --bg-buttons: #F3B210;
    --blue-outlines: #00313A;
    --orange-buttons: #F27E08;
    --blue-text: #0D2935;
}

/* Styling the body and the container wrapping all the elements */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    margin: 1rem;
    max-width: 1800px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.container {
    color: var(--text-color);
    border: 10px var(--bg-buttons) solid;
    border-radius: 0.9rem;
   
}

/* HOMEPAGE */

/* Styling the header, and the content for the two different game modes */

main {
    display: grid;
    grid-template-columns: 50% auto;
    background-color: var(--bg-main);
    border: 0.7rem var(--bg-color) solid;
    border-radius: 0.4rem;
    border: 0.7rem var(--blue-outlines) solid;
    border-radius: 1.9rem;
}

header{
    text-align: center;
    margin: -40px;
    height: 200px;
}

header img {
    max-width: 130px;
    margin-top: 2.3rem;
}

.guessWhatText {
    max-width: 90%;
    margin: 20px 90px 50px 90px;
    text-align: justify;
}

.leftBlock {
    text-align: center;
}

h1 {
    font-weight: bolder;
    font-size: 5rem;
    font-family: 'Mentimun';
    margin-bottom: 1.9rem;
    text-align : center;
}
 

img {
    max-width: 150px;
}


p {
    margin: 1rem;
}

.game-modes {
    margin: -110px 0;
    display: flex;
    justify-content: center;
}

#random-game, #theme-game {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 70px 100px 70px; 
}

#random-game img, #theme-game img {
    background-color: var(--bg-images);
    border: 0.7rem var(--blue-outlines) solid;
    border-radius: 1.9rem;
    text-align: center;
    margin-bottom: 1rem;
    max-width: 300px;
}

#random-game button, #theme-game button {
    max-width: 300px;
    padding: 0.1rem 0;
    background-color: var(--orange-buttons);
    color: var(--blue-text);
    font-weight: bolder;
    border: 0.7rem var(--blue-outlines)solid;
    border-radius: 0.9rem;
    font-family: 'Mentimun';
    font-size: 125%;
}

/*Contact page*/
.logoTitle {
    text-align: center;
    border:1px black solid;
}

.logoImages {
text-align: center;
border:1px black solid;

}

/*About page*/

.aboutTitle {
    text-align: center;
    border:1px black solid;
    }

.aboutText {
text-align: center;
border:1px black solid;
}

/* Styling the aside section containing the buttons for the homepage, log in, etc. */


aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside div {
    display: flex;
    margin: 1.9rem;
}

span {
    background-color: var(--orange-buttons);
    border-radius: 2px;;
}

aside a {
    text-decoration: none;
    color: var(--text-color);
    margin-top: 1.1rem;
}

/* Styling the homepage button */
.homeButton {
    max-width: 300px;
    
    
}

/* Styling the remaining navigation buttons */

aside button {
    display: block;
    max-width: 250px;
    padding: 1rem;
    background-color: var(--bg-buttons);
    color: var(--blue-text);
    font-weight: bolder;
    border: 0.7rem var(--orange-buttons)solid;
    border-radius: 0.9rem;
    margin: 2rem;
    font-family: 'Mentimun';
    font-size: 150%;

}

aside a.contact{
    display: block;
    max-width: 50%;
    text-align: center;
    margin-top: 1rem;
    font-size: large;
}

/* Styling the footer */

footer {
    position: relative;
    text-align: center;
    /* margin-left: 90px; */
}

/* SUBSCRIPTION */

#subscriptionFormTitle {
    text-align: center;
}

.subscriptionForm {
    width: 100%;
    text-align: center;
    padding: 1rem;
    display: block 
    
}

.subscriptionForm label {
    font-weight: bold;
    padding: 2rem;
}

.subscriptionForm input {
    border: var(--orange-buttons);
    border-radius: 10px;
    width: 50%;
    padding: 12px 20px;
    margin-top: 5%;
}


.subscriptionForm button {
    width: 250px;
    padding: 1rem;
    background-color: var(--orange-buttons);
    color: var(--blue-text);
    font-weight: bolder;
    border: 10px var(--blue-outlines)solid;
    border-radius: 15px;
    font-family: 'Mentimun';
    font-size: 125%;
    margin-top: 40px;
    height: 50%;

}

/* LOGIN */

#loginFormTitle {
    text-align: center;
}

.loginForm {
    width: 100%;
    text-align: center;
    padding: 1rem;
    display: block 
    
}

.loginForm label {
    font-weight: bold;
    padding: 2rem;
}

.loginForm input {
    border: var(--orange-buttons);
    border-radius: 10px;
    width: 50%;
    padding: 12px 20px;
    margin-top: 5%;
}


.loginForm button {
    width: 250px;
    padding: 1rem;
    background-color: var(--orange-buttons);
    color: var(--blue-text);
    font-weight: bolder;
    border: 10px var(--blue-outlines)solid;
    border-radius: 15px;
    font-family: 'Mentimun';
    font-size: 125%;
    margin-top: 40px;
    height: 50%;

}

/* ADD RIDDLE */

#addRiddleFormTitle {
    text-align: center;
}

.addRiddleForm {

    width: 100%;
    text-align: center;
    padding: 1rem;
    display: block 
    
}

.addRiddleForm label {
    font-weight: bold;
    padding: 2rem;
}

.addRiddleForm input {
    border: var(--orange-buttons);
    border-radius: 10px;
    width: 50%;
    padding: 12px 20px;
    margin-top: 5%;
}


.addRiddleForm button {
    width: 250px;
    padding: 1rem;
    background-color: var(--orange-buttons);
    color: var(--blue-text);
    font-weight: bolder;
    border: 10px var(--blue-outlines)solid;
    border-radius: 15px;
    font-family: 'Mentimun';
    font-size: 125%;
    margin-top: 40px;
    height: 50%;

}

/* DEFINED THEME GAME PAGE*/

.defined-theme-game {
    display: grid;
    grid-template-columns: 50% 20% 25%;
}

section#defined-theme {
    border: 0.7rem var(--orange-buttons)solid;
    border-radius: 0.9rem;
    text-align: center;
}


div.hints {
    text-align: center;
    border: 0.7rem var(--blue-outlines)solid;
    border-radius: 0.9rem;
    margin: 1.5rem auto;
    width: 50%;
}
div.gamer-response {
    width: 50%;
    display: flex;
    margin: 1rem auto;
    justify-content: center; 
}

textarea {
    border-radius: 0.5rem;
    padding: 1rem;
}

.response-buttons button {
    display: block;
    margin: 0 0 2rem 0.8rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--orange-buttons);
    border: 0.7rem var(--blue-outlines)solid;
    color: var(--blue-text);
    font-weight: bolder;
    border-radius: 0.9rem;
    font-family: 'Mentimun';
    font-size: 125%;
   
}

div.score {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}

nav div img {
    width: 80%;
    border-bottom:var(--bg-color) solid 5px;
    
}

