/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Colors to be used throughout the different website elements */

:root {
  --bg-color: #1A373B;
  --text-color: #C8DD36;
  --bg-main: #0B3B3B;
  --bg-images: #125E5C;
  --bg-buttons: #F3B210;
  --blue-outlines: #00313A;
  --orange-buttons: #F27E08;
  --blue-text: #0D2935;
}

/* Styling the body and the container wrapping all the elements */


.guessWhatText {
  
}

.leftBlock {
  
}

h1 {
  
}

img {
  
}

p {
 
}

.game-modes {
  
}

#random-game, #theme-game {
  
}

#random-game img, #theme-game img {
  
}

#random-game button, #theme-game button {
  
}



/* Styling the aside section containing the buttons for the homepage, log in, etc. */

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside div {
  display: flex;
  margin: 1.9rem;
}

#statusUser {
  background-color: var(--orange-buttons);
  border-radius: 2px;;
}

aside a {
  text-decoration: none;
  color: var(--text-color);
  margin-top: 1.1rem;
}

/* Styling the homepage button */
.homeButton {
  max-width: 300px;
  
  
}

/* Styling the remaining navigation buttons */

aside button {
  display: block;
  max-width: 250px;
  padding: 1rem;
  background-color: var(--bg-buttons);
  color: var(--blue-text);
  font-weight: bolder;
  border: 0.7rem var(--orange-buttons)solid;
  border-radius: 0.9rem;
  margin: 2rem;
  font-family: 'Mentimun';
  font-size: 150%;

}

aside a.contact{
  display: block;
  max-width: 50%;
  text-align: center;
  margin-top: 1rem;
  font-size: large;
}

/* Styling the footer */

footer {
  position: relative;
  text-align: center;
  /* margin-left: 90px; */
}















// @media (min-width: 300px) and (max-width: 899px) {
//   body {
//       display: flex; 
//   }

//   main {
//       display: grid;
//       grid-template-columns: 100%;
//   }


//   aside div {
//       margin-bottom: -50px;
//   }

//  aside a img {
//   display: none;
//  }

//  aside button {
//   margin-bottom: -0.5rem;
//  }

//  img {
//   width: 100%;
//  }

//  button {
//   width: 100%;
//  }

//  .guessWhatText {
//   width: 60%;
//   margin: 0 auto;
//  }

//  .game-modes {
//   margin: -100px auto;
//   width: 50%;
// }
 
// }



