/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Colors to be used throughout the different website elements */

:root {
  --bg-color: #1A373B;
  --text-color: #C8DD36;
  --bg-main: #0B3B3B;
  --bg-images: #125E5C;
  --bg-buttons: #F3B210;
  --blue-outlines: #00313A;
  --orange-buttons: #F27E08;
  --blue-text: #0D2935;
}

/* Styling the body and the container wrapping all the elements */


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  /*margin: 1rem;*/
  /*max-width: 1800px;*/
 /* width: fit-content; */
  // margin-left: auto;
  // margin-right: auto;
}

.container {
  color: var(--text-color);
  border: 10px var(--bg-buttons) solid;
  border-radius: 0.9rem;  
  }

  main {
    display: grid;
    grid-template-columns: 100%;
    background-color: var(--bg-main);
    border: 0.7rem var(--bg-color) solid;
    border-radius: 0.4rem;
    border: 0.7rem var(--blue-outlines) solid;
    border-radius: 1.9rem;
  }

.guessWhatText {
    // max-width: 90%;
    margin: 20px;
    margin-bottom: 5px;
    text-align: justify;
    font-size: 75%;
}

.leftBlock {
  
}

h1 {
  font-weight: bolder;
  font-size: 3rem;
  font-family: 'Mentimun';
  margin-bottom: 1.9rem;
  text-align : center;
}

img {
  max-width: 150px;
}



















// @media (min-width: 300px) and (max-width: 899px) {
//   body {
//       display: flex; 
//   }

//   main {
//       display: grid;
//       grid-template-columns: 100%;
//   }


//   aside div {
//       margin-bottom: -50px;
//   }

//  aside a img {
//   display: none;
//  }

//  aside button {
//   margin-bottom: -0.5rem;
//  }

//  img {
//   width: 100%;
//  }

//  button {
//   width: 100%;
//  }

//  .guessWhatText {
//   width: 60%;
//   margin: 0 auto;
//  }

//  .game-modes {
//   margin: -100px auto;
//   width: 50%;
// }
 
// }



